<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Login | Boogle</title>
    <link rel="stylesheet" href="/static/css/boogle.css">
</head>

<body>
    <br>
<div class="container">
    <div class="logo-block">
        <img src="/static/img/stars.jpg" class="title-image" width="100px" alt="Boogle logo" style="width:300px; height: 100px;">
    </div>

    <div class="title-block">
        <p class="login-title">All of Boogle at one beat.</p>
    </div>

    <div class="signin-block">
        <h1 class="login-text">Space isn't the final frontier, sign in with your Boogle Account. </h1>

        <div class="account-wall">
            <img class="profile-img" src="/static/img/profile.jpg" alt="profile picture">

            <form class="form-signin">
                <input type="text" class="form-control" placeholder="Email" required autofocus>
                <input type="password" class="form-control" placeholder="Password" required>

                <button class="button"><a class="BS" align="center" rel="nofollow noopener" type="submit">Sign in</a></button>
            </form>
        </div>
        <br>
        <a href="#" class="new-account">Create an account </a>
    </div>
</div>
</body>
</html>