<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="My Fakebook">
        <meta name="keywords" content="Star-Lord, hobbies, Hitchhiker,fakebook">
        <meta name="author" content="Ana Escárzaga">

        <title>Ana Escárzaga | Fakebook </title>
        <link rel="stylesheet" href="/static/css/fakebook.css" type="text/css">
    </head>

    <body>
    <h1><i>FAKEBOOK</i></h1>
    <br>
    <form>
        <div>
            <input type="text" placeholder="Search by name"  id="search">
            <button class="search">Search</button>
        </div>
    </form>
    <br>

    <h2>Ana Escárzaga</h2>
    <img class="circular-square" src="/static/img/Starwars.jpg" width="200" height="200">
    <br>

    <button id="button">Follow me</button>
    <br>
    <br>

    <p class="category"><strong>City:</strong> Hoth</p>
    <p class="category"><strong>Age:</strong> 30+</p>
    <p class="category"><strong>Education:</strong> Imperial University degree</p>
    <p class="category"><strong>Hobby:</strong> Lightsaber fighting</p>
    <p class="category"><strong>FB friends:</strong> <1</p>
    <p class="category"><strong>FB enemies:</strong> >1 M</p>
    </body>
</html>