<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Ana's Portfolio</title>
        <link rel="stylesheet" href="/static/css/portfolio.css">
    </head>
    <body>
        <h1>My portfolio</h1>
        <p>
            This is my <a href="/portfolio/boogle">Boogle</a>
            <br>
            This is my <a href="/portfolio/fakebook">Fakebook</a>
            <br>
            This is my <a href="/portfolio/hair-salon">Hair Salon</a>
        </p>
    </body>
</html>